* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

nav {
    width: 100%;
    margin: auto;
    padding: 2rem;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 99;
}

nav,
.left,
.right,
.delivery,
.pickup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left,
.right {
    gap: 1rem;
}

.menu {
    font-size: 30px;
}

.delivery,
.pickup {
    background-color: #1C1816;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 25px;
    gap: 0.5rem;
}

.delivery {
    border: 2px solid #EA002A;
}

.delivery-logo img,
.pickup-logo img {
    width: 30px;
    height: 30px;
}

.bucket img {
    width: 50px;
    height: 50px;
}

.right .button button {
    background-color: #EA002A;
    color: white;
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
    border: none;
}

.front-page {
    background-image: url(banner2.jpg);
    background-size: cover;
    height: 400px;
}

.reorder {
    justify-content: center;
}

.reorder button {
    width: 50%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: #EA002A;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 8px;
    margin: 15px auto;
}

.explore-menu,
.best-seller,
.top-deals {
    text-transform: uppercase;
    width: 80%;
    margin: 3rem auto;
}

.explore-menu hr,
.best-seller hr,
.top-deals hr {
    background-color: #EA002A;
    height: 3px;
    border: none;
    width: 6%;
    margin: 5px 0;
}

.cards {
    display: flex;
    width: 80%;
    margin: 0px auto 20px auto;
}

.image img {
    width: 100%;
}

.card {
    margin: 0px 10px;
    padding: 0px 5px;
    text-transform: capitalize;
    background-color: #1C1816;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 5%;
    position: relative;
    cursor: pointer;
}

.card:hover .card {
    transition: ease-in;
}

.text h5 {
    margin: 5px auto;
    text-align: center;
}

.cards hr {
    width: 25%;
    background-color: #EA002A;
    height: 4px;
    border: none;
    margin: 10px auto 30px auto;
    border-radius: 5px;
    cursor: pointer;
}

.dot {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.cards2,
.cards3 {
    display: flex;
    width: 80%;
    margin: 0px auto 10px auto;
}

.cardx,
.cardy {
    background-color: #1C1816;
    margin: 0px 10px;
    position: relative;
}

.cardy {
    padding-bottom: 3rem;
}

.cardx h3 {
    margin: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

.cardx img,
.cardy img {
    width: 100%;
    cursor: pointer;
}

.cardy-image img {
    transition: all 0.6s;
}

.cardy-image {
    overflow: hidden;
}

.ribbon {
    clip-path: polygon(100% 0, 100% 45%, 100% 86%, 0 85%, 20% 44%, 0% 0%);
    background-color: #EA002A;
    height: 30px;
    width: 40%;
    margin: 20px 0 10px auto;
}

.ribbon h5 {
    margin: auto
}

.boxes {
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
}

.box {
    background-color: #EA002A;
    width: 20px;
    height: 20px;
}

.heart {
    color: #EA002A;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.cardy-text h3 {
    text-transform: capitalize;
    margin: 10px;
}

.cardy-text p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: 15px 10px;
    cursor: pointer;
}

.cardy-text h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    cursor: pointer;
}

.cardy-button button {
    background-color: #EA002A;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: -15px;
    left: 25%;
    cursor: pointer;
}

.cardy:hover .cardy-image img {
    scale: 1.1;
}

.cardy-button button:hover{
    color: #EA002A;
    background-color: white;
    border: 1px solid #EA002A;
    transform: translate(-5px);
}

.store {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.upper,
.lower {
    display: flex;
    gap: 2rem;
    margin: 20px auto;
}

.upper-left,
.upper-right,
.lower-left,
.lower-right {
    width: 100%;
    background-color: #1C1816;
    border-radius: 10px;
}

.upper-left img,
.upper-right img,
.lower-left img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.lower-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.lower-right-button button {
    background-color: #EA002A;
    color: white;
    padding: 12px 30px;
    border: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #1C1816;
}

.external {
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin: 5px auto;
    padding: 2rem;
    width: 80%;
}

.footer-logo {
    cursor: pointer;
}

.social-media {
    display: flex;
    gap: 1rem;
}

.youtube,
.instagram,
.facebook {
    background-color: white;
    color: black;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 2rem;
}

ul li {
    list-style: none;
    text-transform: capitalize;
    line-height: 30px;
    cursor: pointer;
}

.list4 img {
    display: block;
}

.copyrights {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 30px;
}

.copyrights-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.powered h4 {
    font-size: 16px;
    text-transform: capitalize;
    color: #EA002A;
    font-weight: 700;
}

.copyrights-credits p {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: underline;
}

.copyrights-left p {
    margin-top: 20px;
    font-weight: 100;
}
